mixin if(statement)
    | {{ if(!{statement}) { }}
    block
    | {{ } }}

mixin else(statement)
    | {{ else{ }}
    block
    | {{ } }}

mixin js()
    | {{
    block
    | }}

mixin for(statement)
    | {{ for(!{statement}) { }}
    block
    | {{ } }}

mixin foreach(statement)
    | {{ foreach(!{statement}) { }}
    block
    | {{ } }}
