// Email background color
$bgColor      = purple

// Email width size in px
$emailWidth   = 600px

// Email table and cells default color
$tableBgColor = white

// Padding left and right for table rows
$paddingRow   = 30px

// Default Email font text color
$textColor    = #333

// Default email font family
$fontFamily   = 'Arial', 'sans-serif'

// Default email font size
$fontSizeBase = 16px

// Main color (Used in buttons, special text, etc)
$brandColor   = #e37d19
