+row()
    +col-one-half()
        p.text.fs14 Saludos cordiales
        p.text.fs14.fw-bold Equipo NeoAuto
    +col-one-half()
        .pt10.align-right.mobile-align-center
            a.link(href="javascript:;")
                img(src="http://i.imgur.com/tADLZjD.jpg")
            a.link(href="javascript:;")
                img(src="http://i.imgur.com/tADLZjD.jpg")
            a.link(href="javascript:;")
                img(src="http://i.imgur.com/tADLZjD.jpg")

