+row()
    +col-full()
        table(style="border-spacing: 0; border-collapse: collapse; vertical-align: top; height: 100%; width: 100%; table-layout: fixed;" cellpadding="0" cellspacing="0" width="100%" border="0")
            tr 
                td
                    p.text.fs14 Saludos cordiales
                    p.text.fs14.fw-bold Equipo NeoAuto
                td(align="right")
                    a(href="https://www.youtube.com/user/NeoAutoclasificados" target="_blank")
                        img.inline-block(src="https://i.imgur.com/kVjOV9o.jpg" width="45")
                    a(href="https://www.facebook.com/NeoAutocom" target="_blank")
                        img.pl5.inline-block(src="https://i.imgur.com/uJ8ACX6.jpg" width="45")
                    a(href="https://www.twitter.com/NeoAutocom" target="_blank")
                        img.pl5.inline-block(src="https://i.imgur.com/OVeMmjv.jpg" width="45")
                    a(href="https://www.facebook.com/NeoAutocom" target="_blank")
                        img.pl5.inline-block(src="https://i.imgur.com/sLtpzge.jpg" width="45")

                    

               


                    
        

