include /pug/_tools/variables
include /pug/_tools/mixins
include /pug/mixins/all/control_structures.pug
include /pug/mixins/all/functions.pug

doctype html

html(lang="es" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
    head
        link(href=`${config.static_url}css/modules/all/all.css` media="all" rel="stylesheet" type="text/css")

        block styles

        style.
            mediaQueries

    body

        +body()
            include /pug/render/all/header

            block content

            include /pug/render/all/footer

