@require '../../_tools/variables.styl'


// Custom Styles

body
  width 100% !important
  min-width 100%
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100% !important
  margin 0
  padding 0

.body-bg-color
  background-color $bgColor

img
  outline none
  text-decoration none
  -ms-interpolation-mode bicubic
  clear both
  display block
  border none
  height auto
  line-height 100%
  margin 0 auto
  float none
  width 100% !important

// beefree styles


// Client-specific Styles & Reset
#outlook a
  padding 0

// .ExternalClass applies to Outlook.com (the artist formerly known as Hotmail)
.ExternalClass
  width 100%

#backgroundTable
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div
  line-height: 100%

.button a
  display inline-block
  text-decoration none
  -webkit-text-size-adjust none
  text-align center

.button a div
  text-align center !important

/* Outlook First */
body.outlook p
  display inline !important

.container
  max-width $emailWidth
  background-color $tableBgColor

.block-grid
  border-spacing 0
  border-collapse collapse
  vertical-align top
  width 100%
  max-width $emailWidth
  color $textColor
  background-color $tableBgColor

.col
  display inline-block
  vertical-align top
  text-align center

.num6
    //data $emailWidth
    //width (@data / 2)
    width ($emailWidth / 2)


.num4
    //data $emailWidth
    //width (@data / 3)
    width ($emailWidth / 3)
