// Custom Styles

body
    width 100% !important
    min-width 100%
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100% !important
    margin 0
    padding 0

img
    outline none
    text-decoration none
    -ms-interpolation-mode bicubic
    clear both
    display block
    border none
    height auto
    line-height 100%
    margin 0
    float none
p
    margin 10px 0
    line-height 1.5

.btn
    font-family $fontFamily
    text-align center
    display block
    margin 0 auto
    color white
    background-color $brandColor
    padding 12px 30px
    font-size 18px
    border none
    outline none
    text-decoration none
    cursor pointer


.link
    text-decoration none
    outline none
    display inline-block
    margin 0
    padding 0
    cursor pointer

.subtitle
    font-family $fontFamily
    font-size 22px
    border-bottom 1px solid #ccc
    display block
    padding-bottom 10px
    margin 15px 0
    font-weight normal

.spacer
    height 30px
    width 100%
    content '&nbsp;'
    font-size 0
    color transparent
    display block



