@require $pathBase + '/stylus/_tools/variables.styl'

// Custom Styles

body
    width 100% !important
    min-width 100%
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100% !important
    margin 0
    padding 0

img
    outline none
    text-decoration none
    -ms-interpolation-mode bicubic
    clear both
    display block
    border none
    height auto
    line-height 100%
    margin 0
    float none

.btn
    display block
    color white
    background-color $brandColor
    padding 20px 30px
    font-size 16px
    border none
    outline none
    text-decoration none

.text
    font-size $fontSizeBase
    font-family $fontFamily
    color $textColor
