body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100% !important;
  margin: 0;
  padding: 0;
}
.body-bg-color {
  background-color: #f0f0f0;
}
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  clear: both;
  display: block;
  border: none;
  height: auto;
  line-height: 100%;
  margin: 0 auto;
  float: none;
  width: 100% !important;
}
#outlook a {
  padding: 0;
}
.ExternalClass {
  width: 100%;
}
#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}
.button a {
  display: inline-block;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  text-align: center;
}
.button a div {
  text-align: center !important;
}
/* Outlook First */
body.outlook p {
  display: inline !important;
}
.container {
  max-width: 600px;
  background-color: #fff;
}
.block-grid {
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: top;
  width: 100%;
  max-width: 600px;
  color: #000;
  background-color: #fff;
}
.col {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.num6 {
  width: 300px;
}
.num4 {
  width: 200px;
}
