extends /pug/layout/all/layout.pug

block styles
    link(href=`${config.static_url}css/modules/publicacion/concesionario/confirmacion-pago-cip.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-full()
            p.text Estimado&nbsp;
                strong Mitsui
            p.pb10.margin0
            p.text ¡Felicitaciones!. Se ha registrado con éxito el pago de su&nbsp;
                strong.brand-color Paquete !{echo("namePackage")}

    +row()
        +col-full()
            h2.subtitle.fw-bold Datos del paquete

    +row()
        +col-full()
            +col-one-third()
                strong.text Paquete:
            +col-two-thirds()
                p.text.margin0 !{echo("namePackage")}

    +row()
        +col-full()
            +col-one-third()
                strong.text Duración:
            +col-two-thirds()
                p.text.margin0 {{=duration}}

    +row()
        +col-full()
            +col-one-third()
                strong.text Fichas Modelos 0KM:
            +col-two-thirds()
                p.text.margin0 {{=sheetModel}}

    +row()
        +col-full()
            +col-one-third()
                strong.text Avisos Impresos:
            +col-two-thirds()
                p.text.margin0 {{=printedNews}}
    
    +row()
        +col-full()
            +col-one-third()
                strong.text Tienda virtual:
            +col-two-thirds()
                p.text.margin0 Incluido

    +row()
        +col-full()
            +col-one-third()
                strong.text Adicionales
            +col-two-thirds()
                +for("var i = 0; i< additional.length; i++")
                    span.text.margin0 {{=additional[i]}},&nbsp;

    +row()
        +col-full()
            h2.subtitle.fw-bold Datos de transacción

    +row()
        +col-full()
            +col-one-third()
                strong.text Medio de pago:
            +col-two-thirds()
                p.text.margin0 PagoEfectivo 
    +row()
        +col-full()
            +col-one-third()
                strong.text Código CIP:
            +col-two-thirds()
                p.text.margin0 12323434546
    +row()
        +col-full()
            +col-one-third()
                strong.text Monto de transacción:
            +col-two-thirds()
                p.text.margin0 S/ 2500
    +row()
        +col-full()
            +col-one-third()
                strong.text Fecha de transacción:
            +col-two-thirds()
                p.text.margin0 24/04/2017 | 12:25 hrs  
    
    +row()
        +col-full()        
            table(style='border-spacing: 0;border-collapse: collapse;vertical-align: top;', cellpadding='0', cellspacing='0', width='100%', border='0')
                tbody
                    tr(align='center')
                        td
                            a.btn.mt20.mb20(href='http://neoauto.com', style="width: 200px") Ir a gestión de 0Km
    +row()
        +col-full()
            small.text.fs14.mb20.block.lh20
                strong Nota:&nbsp;
                | En algunos casos el sistema puede tener una pequeña demora de 10min aproximadamente para la actualización de la información.

  

