extends /pug/layout/all/layout.pug

block title
    - var headerTitle = "Confirmación de compra"

block styles
    link(href=`${config.static_url}css/modules/publicacion/concesionario/confirmacion-pago-cip.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-full()
            p.text Estimado&nbsp;
                strong !{echo("name")}
            p.pb10.margin0
            p.text ¡Felicitaciones!. Se ha registrado con éxito el pago de su&nbsp;
                strong.brand-color Paquete !{echo("packageName")}

    +row()
        +col-full()
            h2.subtitle.fw-bold Datos del paquete

    +row()
        +col-full()
            +col-one-third()
                strong.text Paquete:
            +col-two-thirds()
                p.text.margin0 !{echo("packageName")}

    +row()
        +col-full()
            +col-one-third()
                strong.text Duración:
            +col-two-thirds()
                p.text.margin0 {{=packageDuration}}

    +row()
        +col-full()
            +col-one-third()
                strong.text Fichas Modelos 0KM:
            +col-two-thirds()
                p.text.margin0 {{=sheetModel}}

    +row()
        +col-full()
            +col-one-third()
                strong.text Avisos Impresos:
            +col-two-thirds()
                p.text.margin0 {{=printedAds}}

    +row()
        +col-full()
            +col-one-third()
                strong.text Tienda virtual:
            +col-two-thirds()
                p.text.margin0 {{=onlineShop}}

    +row()
        +col-full()
            +col-one-third()
                strong.text Adicionales
            +col-two-thirds()
                +for("var i = 0; i < additional.length; i++")
                    span.text.margin0 {{=additional[i]}}
                    +if("i !== additional.length - 1")
                        | ,&nbsp;

    +row()
        +col-full()
            h2.subtitle.fw-bold Datos de transacción

    +row()
        +col-full()
            +col-one-third()
                strong.text Medio de pago:
            +col-two-thirds()
                p.text.margin0 {{=paymentMethod}}
    +row()
        +col-full()
            +col-one-third()
                strong.text Código de transacción:
            +col-two-thirds()
                p.text.margin0 {{=paymentCode}}
    +row()
        +col-full()
            +col-one-third()
                strong.text Monto de transacción:
            +col-two-thirds()
                p.text.margin0 S/ {{=paymentAmount}}
    +row()
        +col-full()
            +col-one-third()
                strong.text Fecha de transacción:
            +col-two-thirds()
                p.text.margin0 {{=paymentDate}}

    +row()
        +col-full()
            br
            +btn("Ir a gestión de 0Km")(href="http://neoauto.com")
            br

    +row()
        +col-full()
            small.text.fs14.mb20.block.lh20
                strong Nota:&nbsp;
                | En algunos casos el sistema puede tener una pequeña demora de 10min aproximadamente para la actualización de la información.



