extends /pug/layout/all/layout.pug

block styles
    link(href=`${config.static_url}css/modules/publicacion/concesionario/contacto-interesado.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-full()
            p.text Hola&nbsp;
                strong Mitsui Toyota
            p.text Uno de sus vehículos tiene un interesado, estos son los datos:
    +row()
        +col-full()
            table(style="border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 100%;width: 100%;table-layout: fixed;" cellpadding="0" cellspacing="0" width="100%" border="0" bgcolor="#f4f5f6")
                tr 
                    td(align="right") 
                        img.mr20.mt20.mb20(src="http://cde.3.neoauto.com/blog/302x192/59adf36022b36.jpg" width="160" style="border: 1px solid #dfe0e1")
                    td 
                        a.link.link-blue.decoration.fs18.block(href="http://neoauto.pe") Toyota Corolla 2017
                        p.margin0.mb20.text.fs22 US$114,000
                        small.text.fs14 Código aviso: 34h355
        +col-full()
            h4.text.align-center Datos del interesado   
            table(style="border-spacing: 0; border-collapse: collapse; vertical-align: top; height: 100%;width: 100%; table-layout: fixed;" cellpadding="0" cellspacing="0" width="100%" border="0")
                tr 
                    td.pb5(width="30")
                        img(src="https://i.imgur.com/wL2bKPr.jpg" width="22")
                    td.pb5
                        b.text Contacto:&nbsp;
                        span.text Arturo Romero
                tr(style="padding-bottom:30px; line-height: 40px")
                    td.pb5(width="30")
                        img(src="https://i.imgur.com/8z5Em1U.jpg" width="22")
                    td.pb5
                        b.text Teléfono:&nbsp;
                        span.text 92834245
                tr 
                    td.pb5(width="30")
                        img(src="https://i.imgur.com/gw8HKma.jpg" width="22")
                    td.pb5
                        b.text Email:&nbsp;
                        span.text email@sdfsd.com
                tr 
                    td.pb5(width="30" valign="top")
                        img(src="https://i.imgur.com/jcksezN.jpg" width="22")
                    td.pb5
                        b.text Mensaje:&nbsp;
                        span.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos quia error dolorem nisi expedita, sequi necessitatibus odit ex, aliquid optio et facilis obcaecati
            h4.text.align-center ¡Contáctate con el interesado y concreta tu venta YA!
                    

  
  

