extends /pug/layout/all/layout.pug
block styles
    link(href=`${config.static_url}css/modules/publicacion/concesionario/pagar-paquete.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-half()
            img(src="http://cds.neoauto.g3c.pe/neoauto3/img/neoauto.png" width="207")
        +col-half()
            h2 Confirmación de compra

    +row()
        +col-full()

    +row()
        +col-third()
        +col-third()
        +col-third()

