extends /pug/layout/all/layout.pug
block styles
    link(href=`${config.static_url}css/modules/publicacion/concesionario/pagar-paquete.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-one-half()
            img(src="http://cds.neoauto.g3c.pe/neoauto3/img/neoauto.png" width="207")
        +col-one-half()
            h2 Confirmación de compra

    +row()
        +col-full()

    +row()
        +col-one-third()
        +col-one-third()
        +col-one-third()

    +row()
        +col-one-third()
        +col-two-thirds()

    +if("true")
        p Nombre del paquete: !{echo("namePackage")}
        p Duración: {{=duration}}
        p Modelo de Ficha: {{=sheetModel}}
        p Avisos Impresos: {{=printedNews}}

        +if("onlineShop != ''")
            +js.
                onlineShop = onlineShop + " ->lala--"
            p Tienda Virtual: {{=onlineShop}}

        p Adicionales:
            +for("var i = 0; i< additional.length; i++")
                | {{=additional[i]}}, 
