extends /pug/layout/all/layout.pug
block styles
    link(href=`${config.static_url}css/modules/publicacion/concesionario/pagar-paquete.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-one-half()
            img(src="http://cds.neoauto.g3c.pe/neoauto3/img/neoauto.png" width="207")
        +col-one-half()
            h2.text Confirmación de compra

    +row()
        +col-full()

    +row()
        +col-one-third()
        +col-one-third()
        +col-one-third()

    +row()
        +col-one-third()
        +col-two-thirds()

