extends /pug/layout/all/layout.pug
block styles
    link(href=`${config.static_url}css/modules/publicacion/concesionario/pagar-paquete.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-half()
        +col-half()

    +row()
        +col-full()

    +row()
        +col-third()
        +col-third()
        +col-third()

