doctype html
//-+htmlIe()
html(lang="es" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
    head
        link(href='../../../css/index.css' media="all" rel="stylesheet" type="text/css")
    body
